@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

body {
  font-family: $Montserrat;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button, input {
  border: none;
  outline: none;
}

